<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /

    # Fix agar request ke /storage/ diarahkan ke /public/storage/
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteRule ^storage/(.*)$ public/storage/$1 [L]

    # Pastikan file/folder yang benar-benar ada tidak diubah
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Semua request lainnya diarahkan ke index.php
    RewriteRule ^ index.php [L]
</IfModule>

# Nonaktifkan directory listing
Options -Indexes
